In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('testing.csv')
lambd = 1/2
query = 'revenue down'
df

    Unnamed: 0       Term                  Documents
0            0      Xerox            [1, {'001': 1}]
1            1    reports            [1, {'001': 1}]
2            2          a            [1, {'001': 1}]
3            3     profit            [1, {'001': 1}]
4            4        but  [2, {'001': 1, '002': 1}]
5            5    revenue  [2, {'001': 1, '002': 1}]
6            6         is            [1, {'001': 1}]
7            7       down            [1, {'001': 1}]
8            8     Lucent            [1, {'002': 1}]
9            9    narrows            [1, {'002': 1}]
10          10    quarter            [1, {'002': 1}]
11          11       loss            [1, {'002': 1}]
12          12  decreases            [1, {'002': 1}]
13          13    further            [1, {'002': 1}]

In [203]:
global_freq = 0
for i in df.iterrows():
    documents = i[1][2].strip('][').replace("'", "").split(', ')
    global_freq+=int(documents[0])
print(global_freq)

16

In [99]:
import ast

In [130]:
df_doc_freq = pd.read_csv('test doc frequencies.csv')
df_doc_freq.iloc[0]['Frequency']

8

In [178]:
#let's get started
# print(df.loc[df['Term'] == 'revenue'])
for i in query.split():
#     entries = df.loc[df['Term'] == i]['Documents'].values).strip('][').replace("\'", "").split(', ')
    entries = df.loc[df['Term'] == i]['Documents'].values[0]
    entries = entries.split(', ',1)
    entries[0] = entries[0].replace("[", "")
    entries[1] = entries[1].replace(']', '')
    entries[1] = ast.literal_eval(entries[1])
    result = 1
    print(entries[0])
    for doc, freq in entries[1].items():
        pass
#         local_freq = df_doc_freq.iloc[int(doc)-1]['Frequency']
#         result *= ((float(freq)/float(local_freq))*lambd+(float(entries[0])/float(sum_global))*(1-lambd))
#         print(freq)
#         print(local_freq)
#         print(int(entries[0]))
#         print(sum_global)
#         print(float(freq)/float(local_freq)*lambd)
#         print(float(entries[0])/float(sum_global)*(1-lambd))

2
1

In [234]:
entries = df.loc[df['Term'] == 'down']['Documents'].values[0]

for i in df_doc_freq.iterrows():
    local_freq = i[1]['Frequency']
    doc_number = i[1]['Document']
    doc_number = str(doc_number).zfill(3)
    result = 1
    for j in query.split():
        entries = df.loc[df['Term'] == j]['Documents'].values[0]
        entries = entries.split(', ',1)
        entries[0] = entries[0].replace("[", "")
        entries[1] = entries[1].replace(']', '')
        entries[1] = ast.literal_eval(entries[1])
        if doc_number in entries[1].keys():
            prob = (float(entries[1][doc_number])/float(local_freq)*lambd) + (float(entries[0])/float(global_freq)*(1-lambd))
        else:
            prob = (float(entries[0])/float(global_freq)*(1-lambd))
        result *= prob
    
#         result *= ((float(freq)/float(local_freq))*lambd+(float(entries[0])/float(sum_global))*(1-lambd))
#         term = df.loc[df['Term'] == j]['Term']
#         print(term.values[0])

0.01171875
0.00390625